.envelopSplash {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    direction: rtl;
    background-image: url("/assets/nuricar/bg.png");
    background-repeat: no-repeat;
    background-position: -95px -80px;
    background-size: 501px;
    .par {
        margin-top: 345px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-div {
            text-align: center;
            width: 100%;
            padding-left: 35px;  
            padding-right: 2.0rem;
            margin-bottom: 22px;
            .logo {
                width: 100%;
            }
        }
        p {
            width: 73%;
            color: white;
            text-shadow: -17px 0px 99px #00000029;
            text-align: center;
            font-size: 19px;
            font-family: 'Assistant', sans-serif;
            line-height: 25px;
        }
        button {
            cursor: pointer;
            background-color: #00B9B4;
            color: white;
            border: none;
            width: 62%;
            padding-top: 9px;
            margin-top: 36px;
            padding-bottom: 8px;
            font-family: 'Assistant', sans-serif;
            font-size: 20px;
        }
        button:hover {
            color: #80C8C6;
            box-shadow: 13pt 8pt 24pt #80C8C640;
        }
    }
}