<div class="envelop" *ngIf="!buttonClicked">
  <h1>נוריות</h1>
  <div>
    <div class="div-1">
      <div class="div1-1">
        <h4 style="color: white;">בחר יצרן רכב :</h4>
        <select (change)="manufacturerChosen($event)">
          <option *ngFor="let car of cars.cars" value="{{car.text}}" [(ngModel)]="selectedCar" ngDefaultControl name="car">{{car.text}}</option>
        </select>
      </div>
      <div class="div1-2" style="opacity:0;" [ngClass]="{'show': manufacturerChoosen}">
        <h4 style="color: white;">בחר דגם רכב :</h4>
        <select (change)="modelChosen($event)">
          <option *ngFor="let maz of mazda.mazda" value="{{maz.modelName}}" [(ngModel)]="selectedModel" ngDefaultControl name="model">{{maz.modelName}}</option>
        </select>
      </div>
      <div class="div1-2" style="opacity:0;" [ngClass]="{'show': modelChoosen}">
        <h4 style="color: white;">בחר שנתון רכב :</h4>
        <select (change)="yearsChoosen($event)">
          <option *ngFor="let year of yearsToDisplay" value="{{year}}" [(ngModel)]="selectedYears" ngDefaultControl name="year">{{year}}</option>
        </select>
      </div>
      <div style="visibility: hidden;" class="but-div" [ngClass]="{'show-button': yearChoosen}">
        <button (click)="searchCar()">!המשך</button>
      </div>
    </div>
  </div>
</div>
<app-icons-page *ngIf="buttonClicked"></app-icons-page>