<div class="envelop">
    <h1>הוספת נורית הזהרה</h1>
    <div class="body">
        <div class="div-1">נא לתאר את הנורית החסרה ולוודא שהמודל והשנתון של הרכב המדובר נכונים</div>
        <textarea name="missing" id="missingta" cols="30" rows="10" [(ngModel)]="text"></textarea>
        <div class="div-2">תרצו להעלות תמונה של הנורה החסרה?</div>
        <input class="input" type="file" (change)="handleFileSelect($event)" accept="image/*" name="photo" id="upload-photo">
    </div>
    <div class="footer">
        <button class="but-1" (click)="validate()">אישור</button>
        <button class="but-2" (click)="cancel()">ביטול</button>
    </div>
</div>