<div class="envelop">
    <div class="header" [ngClass]="{'end': step === 1 || step === 2 || step === 3}">
      @if (step === 0) {
        <img src="/assets/nuricar/moving-car.png"/>
      }
      @if (step === 1) {
        <img src="/assets/nuricar/pos2.png"/>
      }
      @if (step === 2) {
        <img src="/assets/nuricar/pos3.png"/>
      }
      @if (step === 3) {
        <img src="/assets/nuricar/pos4.png"/>
      }
    </div>

    <div class="choose">
        <span>חפשו את דגם הרכב שלכם</span>
    </div>

    <div class="envelopMainPage">
      <div class="row-dp">
        <label class="label">בחר יצרן:</label>
        <ng-select [(ngModel)]="iconService.selectedManufacturer" 
                  name="manufacturer"
                  (change)="ManufacturerChange($event)"
                  [editableSearchTerm]="false"
                  [searchable]="false"
                  [clearable]="false"
                  [multiple]="false">
          @for (car of carsnames; track $index) {
            <ng-option [value]="car">
              <div class="div-opt">
                <img class="img" src='{{images[$index]}}'>
                <span style=" align-self: center;">{{car}}</span>              
              </div>
            </ng-option>
          }
      </ng-select>
      </div>

      @if (iconService.manufacturerChoosen && iconService.selectedModelJson && iconService.selectedModelJson.length > 0) {
        <div class="row-dp second-dp">
          <label class="label">בחר מודל:</label>
          <ng-select [(ngModel)]="iconService.selectedModel" 
                    name="model"
                    (change)="ModelChange($event)"
                    [editableSearchTerm]="false"
                    [searchable]="false"
                    [clearable]="false"
                    [multiple]="false"
                    placeholder="בחר מודל">
            @for (model of iconService.selectedModelJson; track model.englishModelName || model.modelName) {
              <ng-option [value]="model">{{model.modelName}}</ng-option>
            }
          </ng-select>
        </div>
      }

      @if (iconService.modelChoosen && iconService.selectedModel && iconService.selectedModel.filteredYears && iconService.selectedModel.filteredYears.length > 0) {
        <div class="row-dp second-dp third-dd">
          <label class="label">בחר שנה:</label>
          <ng-select [(ngModel)]="iconService.selectedYear" 
                    name="year"
                    (change)="YearChange($event)"
                    [editableSearchTerm]="false"
                    [searchable]="false"
                    [clearable]="false"
                    [multiple]="false"
                    placeholder="בחר שנה">
            @for (year of iconService.selectedModel.filteredYears; track year) {
              <ng-option [value]="year">{{year | hybrid}}</ng-option>
            }
          </ng-select>
        </div>
      }

      @if (iconService.buttonClicked) {
        <div class="but-div" (click)="SearchCar()">
          <button>חפש!</button>
        </div>
      }
  </div>
</div>
