.envelop {
    direction: rtl;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: right;

    .title-div {
        margin-bottom: 1rem;
        img {
            width: 155px;
            padding-left: 3px;
        }
    }
    .arrow-div {
        width: 100%;
        text-align: left;
        .arrow {
            width: 60px;
            height: 60px;
        }
    }
    .row-dp {
        text-align: right;
        direction: rtl;
        width: 66%;        
        background-color: #EEEEEE;
        padding: 10px;
        height: 45px;
    }
    .second-dp {
        margin-top: 2rem;
    }
    .but-div {
        margin-top: 2rem;
        width: 80%;
        display: flex;
        justify-content: center;
        button {
            padding-top: 9px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 25px;
            color: white;
            background-color: #414141;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
    }
}

::ng-deep {
    .mat-option-text {
        direction: rtl;
        text-align: right;
        font-size: 20px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .mat-option {
        background-color: #EEEEEE;
    }
}

::ng-deep {
    .mat-form-field-label {
        text-align: right;
        direction: rtl;
    }
}

::ng-deep {
    mat-select{
        text-align: right;
        direction: rtl;
   }
}

::ng-deep {
    mat-label {
        color: #707070;
        text-align: right;
        direction: rtl;
    }
}

::ng-deep {
    .mat-select-arrow {
        color: #00B9B4 !important;
    }   
    .mat-select-arrow-wrapper {
        position: relative;
        bottom: 9px;
    }
}