.envelopMainPage {
    direction: rtl;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: right;

    .title-div {
        margin-bottom: 1rem;
        margin-top: 20px;
        img {
            width: 155px;
            padding-left: 3px;
        }
    }
    .arrow-div {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
        .arrow {
            width: 45px;
            height: 45px;
        }
    }
    .row-dp {
        margin-top: 93px;
        text-align: right;
        direction: rtl;
        width: 66%;        
        padding: 10px;
        padding-right: 0px;
        padding-left: 0px;
        .img {
            width: 30px;
            height: 30px;
            margin-left: 7px;
        }
        .label {
            color: #707070;
            position: relative;
            top: 33px;
            right: 10px;
            font-size: 14px;
            font-family: Roboto,Helvetica Neue,sans-serif;
            z-index: 1049;
        }
    }
    .second-dp {
        margin-top: -16px;
    }
    .but-div {
        margin-top: 2rem;
        width: 80%;
        display: flex;
        justify-content: center;
        button {
            cursor: pointer;
            background-color: #00B9B4;
            color: white;
            border: none;
            width: 62%;
            padding-top: 9px;
            margin-top: 36px;
            padding-bottom: 8px;
            font-family: 'Assistant', sans-serif;
            font-size: 20px;
        }
        button:hover {
            color: #80C8C6;
            box-shadow: 13pt 8pt 24pt #80C8C640;
        }
    }
}

::ng-deep {
    .ng-select.ng-select-opened>.ng-select-container .ng-arrow {
        top: unset;
        transform: rotate(0deg);
    }
    .ng-select .ng-select-container {
        border-radius: 0px !important;
        height: 45px !important;
        padding-right: 9px;
        padding-left: 10px;
        font-size: 20px;
        color: #707070!important;
        font-weight: 700;
        font-size: 14px;
        background-color: #eee;
        font-family: Roboto,Helvetica Neue,sans-serif;
        .ng-arrow-wrapper {
            position: relative;
            top: 4px;
            right: 2px;
            span {
                border-color: transparent transparent #00b9b4 !important;
                border-width: 0 5px 5px;
                transform: rotate(180deg);
            }
        } 
        .ng-value-container .ng-value .ng-value-label img {
            display: none !important;
        }
        .ng-value-container {
            font-family: Roboto,Helvetica Neue,sans-serif !important;
            position: relative;
            top: 10px;
        }
        .ng-value {
            position: relative;
            top: 2px;
        }
    }
    .ng-option {
        color: #707070!important;
        font-size: 20px;
    }
    .ng-dropdown-panel, .ng-dropdown-panel .scroll-host {
        background-color: #eee !important;
        .ng-dropdown-panel-items .ng-option {
            background-color: #eee;
        }
    }
    .ng-select.ng-select-opened>.ng-select-container {
        background-color: #eee !important;
    }
}