.envelop {
    direction: rtl;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: right;

    .title-div {
        margin-bottom: 1rem;
        img {
            width: 155px;
            padding-left: 3px;
        }
    }
    .arrow-div {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
        .arrow {
            width: 45px;
            height: 45px;
        }
    }
    .row-dp {
        text-align: right;
        direction: rtl;
        width: 66%;        
        background-color: #EEEEEE;
        padding: 10px;
        height: 45px;
    }
    .second-dp {
        margin-top: 2rem;
    }
    .but-div {
        margin-top: 2rem;
        width: 80%;
        display: flex;
        justify-content: center;
        button {
            cursor: pointer;
            background-color: #00B9B4;
            color: white;
            border: none;
            width: 62%;
            padding-top: 9px;
            margin-top: 36px;
            padding-bottom: 8px;
            font-family: 'Assistant', sans-serif;
            font-size: 20px;
        }
        button:hover {
            color: #80C8C6;
            box-shadow: 13pt 8pt 24pt #80C8C640;
        }
    }
}

::ng-deep {
    .mat-option-text {
        direction: rtl;
        text-align: right;
        font-size: 20px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .mat-option {
        background-color: #EEEEEE;
    }
    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background-color: #EEEEEE !important;
    }
    .mat-option.mat-active {
        background-color: #EEEEEE !important;
    }
    .mat-option-text {
        color: #707070 !important;
    }
    .mat-select-value {
        color: #707070 !important;
        font-weight: bold;
    }
    .mat-select-trigger {
        bottom: 6px;
    }
}

::ng-deep {
    .mat-form-field-label {
        text-align: right;
        direction: rtl;
    }
}

::ng-deep {
    mat-select{
        text-align: right;
        direction: rtl;
   }
}

::ng-deep {
    mat-label {
        color: #707070;
        text-align: right;
        direction: rtl;
        position: relative;
        bottom: 5px;
    }
}

::ng-deep {
    .mat-select-arrow {
        color: #00B9B4 !important;
    }   
    .mat-select-arrow-wrapper {
        position: relative;
        bottom: 7px;
    }
}