<div class="envelop">
    <div class="title-div">
      <img class="logo" src="/assets/nuricar/logo.png"/> 
    </div>
    <div>
      <i class="fas fa-arrow-left" style="color: #00B9B4;"></i>
    </div>
        <div class="row-dp">
          <mat-label>בחר יצרן:</mat-label>
          <mat-select [(ngModel)]="selectedManufacturer" name="manufacturer" (selectionChange)="ManufacturerChange($event)">
            <mat-option  class="opt" *ngFor="let car of carsnames; let i = index" [value]="car">
              <img style="margin-left: 7px;" src='{{images[i]}}'>{{car}}
            </mat-option>
          </mat-select>
        </div>
    
        <div class="row-dp second-dp" *ngIf="manufacturerChoosen && selectedModelJson">
          <mat-label>בחר מודל:</mat-label>
          <mat-select [(ngModel)]="selectedModel" name="model" (selectionChange)="ModelChange($event)">
            <mat-option  class="opt" *ngFor="let model of selectedModelJson" [value]="model">{{model.modelName}}</mat-option>
          </mat-select>
        </div>
    
        <div class="row-dp second-dp" *ngIf="modelChoosen">
          <mat-label>בחר שנה:</mat-label>
          <mat-select [(ngModel)]="selectedYear" name="year" (selectionChange)="YearChange($event)">
            <mat-option  class="opt" *ngFor="let year of selectedModel.years" [value]="year">{{year | hybrid}}</mat-option>
          </mat-select>
        </div>
    
        <div class="but-div" *ngIf="buttonClicked" (click)="SearchCar()">
          <button>חפש!</button>
        </div>
    </div>
    