.div-1 {
    text-align: center;
    font-size: 20px;    
    color: white;
    font-family: 'Assistant', sans-serif;
    padding: 1.5rem;
    line-height: initial;
}
.arrow-div {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    app-breadcums {
        display: flex;
        align-items: center;
    }
    .arrow {
        width: 45px;
        height: 45px;
    }
}
.envelopIconPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    padding-top: 0px;
    .icon-div {
        border-radius: 2px;
        margin: 15px;
        cursor: pointer;
        .icon {
            border-radius: 10px;
            height: 50px;
            width: 55px;
            cursor: pointer;
        }
    }
}
.missing {
    p {
        margin-bottom: 40px;
        text-align: center;
        font-size: 20px;    
        color: white;
        font-family: 'Assistant', sans-serif;
        direction: rtl;
        span {
            color: aqua;
            cursor: pointer;
            margin-right: 5px;
        }
    }
}